/* .homepageContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnailWrapper {
    width: 45%;
    box-sizing: border-box;
    height: 100px;
    display: inline-block;
    border: 3px solid green;
    margin-bottom: 15px;
} */

a {
    text-decoration: none;
}
.homepageContainer {
    display: flex;
    height: 500px;
    justify-content: center;
    flex-direction: column;
}

.thumbnailWrapper {
    height: 20%;
    width: 85%;
    margin: 0px auto;
    border: 3px solid green;
    margin-bottom: 20px;
}
.thumbnail {
    font-size: 40px;
    text-align: center;
}
