.homepageContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.thumbnailWrapper {
    margin: 5px;
    width: 45%;
    height: 100px;
    display: block;
    border: 3px solid green;  
}

.thumbnail {
    padding-top: 45px;
    text-align: center;
}